html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}img{border-style:none}button,input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button{overflow:visible}button{text-transform:none}button,[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}input{overflow:visible}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html{-webkit-box-sizing:border-box;box-sizing:border-box;font-size:100%}*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit}body{margin:0;padding:0;font-family:"Barlow",sans-serif;font-weight:400;line-height:1.5;color:#555;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}img{display:inline-block;vertical-align:middle;max-width:100%;height:auto;-ms-interpolation-mode:bicubic}button{padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0;border-radius:2px;background:transparent;line-height:1}div,h1,h2,h3,form,p{margin:0;padding:0}p{margin-bottom:1rem;font-size:inherit;line-height:1.4;text-rendering:optimizeLegibility}h1,h2,h3{font-family:"Barlow",sans-serif;font-style:normal;font-weight:100;color:#446373;text-rendering:optimizeLegibility}h1{font-size:1.5rem;line-height:1.2;margin-top:0;margin-bottom:.5rem}h2{font-size:1.25rem;line-height:1.2;margin-top:0;margin-bottom:.5rem}h3{font-size:1.1875rem;line-height:1.2;margin-top:0;margin-bottom:.5rem}@media screen and (min-width: 37.5em){h1{font-size:3rem}h2{font-size:2.5rem}h3{font-size:2rem}}a{line-height:inherit;color:#2c98bb;text-decoration:none;cursor:pointer}a:hover,a:focus{color:#2683a1}a img{border:0}[type='text']{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:2.4375rem;margin:0 0 0rem;padding:.5rem;border:1px solid #cacaca;border-radius:0;background-color:#fefefe;-webkit-box-shadow:none;box-shadow:none;font-family:inherit;font-size:1rem;font-weight:400;color:#0a0a0a;-webkit-transition:border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;transition:border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;transition:box-shadow 0.5s,border-color 0.25s ease-in-out;transition:box-shadow 0.5s,border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;-webkit-appearance:none;-moz-appearance:none;appearance:none}[type='text']:focus{outline:none;border:1px solid #2c98bb;background-color:#fefefe;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;transition:border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;transition:box-shadow 0.5s,border-color 0.25s ease-in-out;transition:box-shadow 0.5s,border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s}input::-webkit-input-placeholder{color:#cacaca}input::-moz-placeholder{color:#cacaca}input:-ms-input-placeholder{color:#cacaca}input:disabled{background-color:#ededed;cursor:default}[type='submit']{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:2px}.is-invalid-input:not(:focus){border-color:#ea2e49;background-color:#fce9ec}.is-invalid-input:not(:focus)::-webkit-input-placeholder{color:#ea2e49}.is-invalid-input:not(:focus)::-moz-placeholder{color:#ea2e49}.is-invalid-input:not(:focus):-ms-input-placeholder{color:#ea2e49}.is-invalid-input:not(:focus)::placeholder{color:#ea2e49}html{font-size:100%}h1{color:#e86138}h2{color:#446373}h3{color:#333}html{-ms-touch-action:manipulation;touch-action:manipulation}@media print{@page{margin:0}}@supports (display: grid){}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Barlow",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p{
    font-family:"Barlow", sans-serif
}

div, h1, h2, h3, form, p {
    margin: 0;
    padding: 0;
}

* {box-sizing:border-box}

.mainwrapper {
    max-width: 1400px;
    margin: 0 auto 1rem auto;
    display: grid;
    background-color: white;
    padding: 1rem 3rem 1rem 3rem;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align: center;
}

.iconsmenu {
    position: relative;
    font-size: 35px;
    width: 100%;
    display: inline-block;
    margin: 40px 0 40px 0;
}

.mobile-footer-cell {
    padding-top: 7px;
    width: 18%;
    display: inline-block;
    font-size: 30px;
    color: #ff492c;
    text-align: center;
    background-color: white;
    margin-bottom: 15px;
}

.oicon {
    filter: invert(38%) sepia(25%) saturate(5596%) hue-rotate(343deg) brightness(101%) contrast(101%);
    max-width: 55px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.tabcard {
    width: 46%;
    border: solid 1px #cecdcd;
    margin: 10px;
    border-radius: 15px;
    font-size: 30px;
    display: inline-block;
    line-height: 120px;
}

.articlecard {
    width: 16%;
    border: solid 1px #cecdcd;
    margin: 10px;
    border-radius: 15px;
    font-size: 10px;
    display: inline-block;
    line-height: 120px;
}

.tabcard:hover {
    background-color: #eee;
}

.oicon:hover {
    transform: scale(1.5);
}

.bgheader {
    position: relative;
    margin-bottom: 0;
    top: auto;
}

.bgheaderd {
    margin-bottom: 0;
    top: auto;
    box-shadow: 0 8px 6px -5px grey;
}

.herotitle {
    color: #252530;
    font-size: 4.6rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.herosubtitle {
    color: #252530;
    font-size: 1.31rem;
    margin-bottom: 1.5rem;
}

.herosubtitlespan {
    font-weight: 600;
    color: #ff492c;
}

.herosearch {
    width: 100%;
}

.bgimage {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.bgimagecontainer {
    height: 542px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bgheaderbody {
    position: relative;
    background-color: #fefefe;
    height: 542px;
}

.searchright {
    background-color: #ff492c;
    position: absolute;
    border-radius: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: .75rem 1.5rem;
    max-height: 42px;
    color: #fefefe;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.searchleft {
    padding-right: 6rem;
    padding-left: .75rem;
}


.searchbox {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    position: relative;
    width: 100%;
}

.searchinput {
    background: transparent;
    border: 0;
    height: 42px;
    margin: 0 0 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 100%;
}

.searchcontainer {
    text-align: left;
    border: 2px solid #ff492c;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fefefe;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    position: relative;
    z-index: 2;
}

.heroheader {
    padding-top: 6.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 618px;
    position: relative;
}

.bgheadercontent {
    position: relative;
    z-index: 4;
    justify-content: center;
    height: 100%;
    padding-top: 0;
    display: flex;
    -webkit-box-pack: center;
}

.subtitle {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    padding: 20px 0 0 30px;
}

.lefticon {
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.active {
    font-weight: 700;
}

.cardimagetop {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.articlecardtext {
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.pr20 {
    padding-right: 20px;
}

#title {
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    color: #ff492c;
    font-weight: 600;
}

#text {
    font-size: 18px;
    color: lightslategrey;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:680px) {
  .pr20 {padding-right: 10px;}
  .tabcard {width:100%; margin:10px 0 10px 0}
  .mainwrapper {padding: 1rem;}
  .articlecard {width:100%; margin:10px 0 10px 0}
  .oicon {max-width: 35px}
  .mobile-footer-cell {font-size: 17px}
  .herotitle {font-size: 2.3rem}
  .herosubtitle {font-size: 1rem; margin: 1.5rem}
  .herosearch {width:90%}
  .bgimagecontainer {height:412px}
  .bgheaderbody {height:412px}
  .iconsmenu {margin: 0}
  #text {font-size:14px}
  #title {padding: 5px 10px 0px 10px}
}
