{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "ga.html" %}
        <title>{{article.name}} - 9Travel.net</title>
        <link rel="stylesheet" media="all" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f80b51e3c0.js" crossorigin="anonymous"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="keywords" content="{{article.seokeywords}}"/>
        <meta name="description" content="{{article.seodescription}}"/>
    </head>

    <body>

    {% include "header.html" %}

        {% if article.showheader %}
        <div class="bgheader bgheaderd">
            <div class="bgheaderbodysite" style="text-align:center">
                <div class="bgimagecontainersite">
                    <div class="bgimage" style="background-image: url({% static article.backgroundfilename %});"></div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="mainwrapper">

            <div class="maincontent padded">
                <div class="wrapper">
                    <div id="left" class="padded">
                        <h1 class="title">
                            {{article.name}}
                        </h1>
                        <p>[Last updated: {{article.updatedate|date:"D d M Y" }}]</p><br>
                        {{article.fulltext|safe}}
                    </div>
                    <div id="right" class="padded">
                        {% if article.shopdestination %}
                        The following sites offer hotels in {{article.shopdestinationname}}
                        {% endif %}
                        <div class="competitors">
                        {% for site in allsites %}
                            <a href="{% url 'site' slug=site.slug product='hotels' %}"><img class="competitor" src="{% static site.logofilename %}"></a>
                        {% endfor %}
                        </div>

                    </div>
                </div>
                <div>
                    <h3 class="subtitle" style="padding-bottom:20px">Other Related Reading</h3>
                    {% for a in similararticles %}
                    <ul>
                        <li><a href="{% url 'article' slug=a.slug %}">{{a.name}}</a></li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="articles">
                    <h3 class="subtitle" style="padding-bottom:20px">Articles</h3>
                    <div class="">
                    {% for article in articles %}{% if article.showonhomepage %}
                    <a href="{% url 'article' slug=article.slug %}"><div class="articlecardsm"><img src="{% static article.thumbnailfilename %}" alt="Headshot photo" class="cardimagetop"><p class="articlecardtextsm">{{article.name}}</p></div></a>
                    {% endif %}{% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {% include "footer.html" %}

    </body>
</html>
                