                        <div class="herosearch">
                            <form class="searchcontainer" action="/search" accept-charset="UTF-8" method="get">
                                <input name="utf8" type="hidden" value="✓">
                                <div class="searchbox">
                                        <input type="text" value="" autocomplete="off" placeholder="Enter online travel booking site name" class="searchinput searchleft" spellcheck="false" style="position: relative; vertical-align: top;">
                                </div>
                                <button name="button" type="submit" class="searchright"><div>Search</div></button>
                            </form>
                        </div>\