{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "ga.html" %}
        <title>Questions & Answers - 9Travel.net</title>
        <link rel="stylesheet" media="all" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f80b51e3c0.js" crossorigin="anonymous"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="keywords" content="{{seokeywords}}"/>
        <meta name="description" content="{{seodescription}}"/>
    </head>

    <body>

    {% include "header.html" %}


        <div class="mainwrapper">
            <div class="maincontent padded">
                <div class="wrapper">
                    <div id="left" class="padded">
                        <p class="herotitle">Questions & Answers</p>
                        <p>Have questions? We've got answers. Click a topic below to find all relevant topics.</p><br>
                        <div style="column-count:2">
                        {% for t in tags %}
                            <a href="{% url 'questionstag' slug=t.slug %}" class="title">{{ t.name }}</a><br>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}

    </body>
</html>
