{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include "ga.html" %}
        <title>{{data.question}} - 9Travel.net</title>
        <link rel="stylesheet" media="all" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f80b51e3c0.js" crossorigin="anonymous"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="keywords" content="{{article.seokeywords}}"/>
        <meta name="description" content="{{article.seodescription}}"/>
    </head>

    <body>

    {% include "header.html" %}


        <div class="mainwrapper">

            <div class="maincontent padded">
                <div class="wrapper">
                    <div id="left" class="padded">
                        <p class="herotitle">Questions & Answers</p>
                        <h1 class="title">
                            {{data.question}}
                        </h1>
                        {{data.answer|linebreaks}}<br/>
                        <ul class="tags">
                            {% for t in tags %}
                            <li><a href="{% url 'questions' slug=q.slug %}" class="tag">{{ t.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <h6>Something wrong here? Let us know</h6><br/>
                        <h1 class="title">More Questions About {{data.ota.name}}</h1>
                        {% for q in otherquestions %}
                            <h4>{{q.question}}</h4>
                            <p>{{q.answer}}</p><br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}

    </body>
</html>
                